<div class="row">
    <div class="col-6">
        <label>Adınız</label>
    </div>
    <div class="col-6">
        <p>@ViewBag.Name</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label>Soyadınız</label>
    </div>
    <div class="col-6">
        <p>@ViewBag.Surname</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label>Mesajınız</label>
    </div>
    <div class="col-6">
        <p>@ViewBag.Message</p>
    </div>
</div>