@{
    ViewBag.Title += "Teacher Index";
}
<a asp-controller="Teacher" asp-action="Create" class="btn btn-primary">Yeni Öğretmen</a>
<a href="/Teacher/Create" class="btn btn-success">Yeni Öğretmen</a>