@*
    Burası html kodlarımızı commentlediğimiz alandır.
*@
@{
    // View içerisinde hem css html kodlarımızı hemde c# kodlarımızı yazabiliriz.
    // Bu scope içerisine c# kodlarımızı yazarız.
}
@{
    int sayi=5;
    int sayi2 = sayi + 25;

}
<p>Merhaba Dünya</p>
<a href="/Home/About">Home/About</a> @*Burada yönlendirme yaptık Index açıldığında About actionuna giden bir link gelecek*@
<div>

    @{
       // string mesaj = "test";
    }
    Merhaba MVC

</div>