<p>Home Index</p>
@{


}

<p id="content">Home Index</p>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(() => {
            $("#content").css("color", "red");
        })

    </script>

}